# Python
*.pyc
.cache
.ipynb_checkpoints

# Images and feature vectors data
src/test_images/*png
src/feature_vectors/*txt

# MATLAB temp files
*~

# Vanilla latex
*.aux
*.blg
*.bbl
report/*.log
egpaper_final.pdf

# Latexmk and Makefile
*-blx.bib
*.fdb*
*.fls*
*.xml
.refresh
main.out

# Latex minted package
_minted-paper/
